body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------body----------*/

.cart{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

.cart h2{
    margin-bottom: 30px;
}   

.cart table{
    width: 100%;
}


.cart thead tr th {
    border-bottom: 1px gray solid;
    padding: 20px;
}

.cart table thead tr th:first-child{
    text-align:  left;
}

.cart table tbody tr td{
    border-bottom: #ddd solid 1px;
    margin-top: 15px;
    padding-bottom: 15px;
}
/**************Responsive*********************/
@media only screen and (max-width: 390px) {
    .cart {
      padding: 20px;
    }
  
    .cart h2 {
      font-size: 20px;
    }
  
    .cart table thead tr th {
      padding: 10px;
      font-size: 14px;
    }
  
    .cart table tbody tr td {
      padding: 10px;
      font-size: 14px;
    }
  }