body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------body----------*/

.form{
    padding :50px;
    background-color: rgb(238, 234, 234);
    font-family:Georgia, 'Times New Roman', Times, serif ;
    width: 25%;
    margin: 20px auto;

}


.user{
    position: relative;

}

.textbox{
    margin: 10px 50px;
    width: 70%;
    height: 30px;
    border-radius: 5px;
}


#button{
    width: 50%;
    height: 30px;
    background-color: aquamarine;
    ;
    
}



#button:hover{
    color: red;
}

.text_box{
    border: 1px black solid;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: aliceblue;
    font-weight: 800;
    width: 50%;
    margin: 10px auto;
}

/*----footer-----*/
a{
    text-decoration: none; 
    color: inherit;
}
/**************Responsive*********************/

@media only screen and (max-width: 390px) {
    .form {
      width: 80%;
      margin: 10px auto;
      padding: 20px;

    }
  
    .textbox {
      width: 70%;
      position: relative;
    
    }
  
    #button {
      width: 100%;
    }

    .footer{
      
        height: 300px;
    }

}

@media only screen and (max-width: 412px) {
    .form {
      width: 80%;
      margin: 10px auto;
      padding: 20px;

    }
  
    .textbox {
      width: 70%;
      position: relative;
    
    }
  
    #button {
      width: 100%;
    }

    .footer{
      
        height: 300px;
    }

}

@media only screen and (max-width: 912px) {
    .form {
    
      width: 50%;
      margin: auto auto;
      padding: 20px;

    }
  
    .textbox {
      width: 70%;
      position: relative;
    
    }
  
    #button {
      width: 100%;
    }

  
}
@media only screen and (max-width: 280px) {
    .form {
    
      width: 100%;
      margin: auto auto;
      padding: 20px;

    }
  
    .textbox {
      width: 70%;
      position: relative;
    
    }
  
    #button {
      width: 100%;
    }

  
}